 {% extends 'base.html.twig'%}  
 {% block body %} Les caractéristiques du produits sont 
     <p> nom : {{produit.nom}}</p> 
     <p> ref : {{produit.ref}} </p>
     <p> prix : {{produit.prix}} </p> 
 
 {% endblock %}
        