@charset "utf-8";
*{
    position: relative;
    margin: 0;
    padding: 0;
    font-family: verdana;
}
a{
    text-decoration: none;
    color: #000;
}
a:hover{
    color: #F00;
}
#container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 1400px;
    margin: auto;
    padding-top:25px;
}
#container>h1, #container>h2{
    width: 100%;
    margin: 10px 0;
    text-align: center;
}
.blocProduit{
    width: 400px;
    margin: 0 0 20px 10px;
    padding: 10px;
    background-color: #DDD;
    cursor: pointer;
    height:300px;
}
.blocProduit img{
    float: left;
}
.blocProduit .nom{
    float: right;
    font-size: 24px;
}
.blocProduit .prix{
    position: absolute;
    right: 5px;
    bottom: 5px;
    font-size: 24px;
    font-weight: bold;
}
.blocProduit .prix:after{
    content: ' €';
}
#detailProduit{
    width: 800px;
    padding: 20px;
}
#detailProduit img{
    margin: -20px;
}
#detailProduit .ref{
    float: right;
    font-size: 50px;
}
#detailProduit .prix{
    position: absolute;
    right: 20px;
    bottom: 20px;
    font-size: 36px;
    font-weight: bold;
}
#detailProduit .prix:after{
    content: ' €';
}
.retour{
    width: 100%;
    text-align: start;
}
input{
    height:25px;
    width:150px;
    margin:15px;
}
select{
    margin:15px;
}
input[type="text"]{
    height:25px;
    width:150px;
}
input[type="submit"], input[type="button"]{
    width:150px;
      height:25px;
    border-radius:10px;
    margin-top:25px;
}
input[type="file"]{
    width:300px;  
    border-radius:10px; 
}       
#categorie{
    display:flex;
    margin-right:auto;
    margin-top:25px;
    padding:10px;
    width:500px;
    border-radius: 10px;
    background-color: white;
}
.erreur{
    color: red;
}
.modifier{
    width:80px;
    height: 40px;
}
#vignette{
    width: 300px; 
    height: 300px; 
    margin-top:auto;
    margin-bottom:auto;
    background-position:center;
    background-repeat: no-repeat;
}

form #photo{
    display:none;
}

h1{
    text-align:center;
}
.prod{
    border: 2px solid darkmagenta;
    padding:20px;
   }
#produit_go{
   width:150px;
    border-radius:10px;
    margin-top:25px;
       height:25px;
}